dist/
build/
.vs/
__pycache__/
autosave/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.egg-info/
*.egg
*.log
*.coverage
*.cover
*.hypothesis/
*.pytest_cache/
*.mypy_cache/
*.coverage.*
*.coveragerc
*.tox/
*.venv/
*.env
*.env.*
*.envrc
*.env.local
*.DS_Store
*.idea/
*.vscode/
*.sublime-project
backups/